opencv-python==4.4.0.44
numpy==1.18.5
matplotlib==3.2.2
scikit-learn == 0.23.1
sklearn.cluster== 0.23.1
scikit-image==0.16.2
cluster == 1.4.1.post2  
imageio ==  2.5.0      
imagesize == 1.1.0      
importlib-metadata == 0.17     
kmeans-pytorch == 0.3        
notebook == 6.0.0       
numpydoc == 0.9.1    
openpyxl == 2.6.2      
packaging == 19.0    
watermark == 2.0.2  

